body { background-image: url(background.gif);
    background-color: #f5f5dc;
    color: #2E0000;
    font-family: Arial, Verdana, sans-serif;
}
#wrapper{ background-color: #f5f5dc;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #2e0000;
}
header { background-color: #d2b48c;
}
nav{ background-color: #e6d6a9;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
nav a { text-decoration: none;
}
main{ padding: 20px;
    display: block;
}
#hero{ height: 300px;
    color: #f5f5dc;
    background-image: url(windingroad.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#news{
    margin-left: 20%;
    margin-right: 20%;
}
h1 { background-image: url(javalogo.gif);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Georgia, 'Times New Roman', serif;
    height: 100px;
    margin: 0;
    text-indent: -9999px;
}
h2 { font-family: Georgia, 'Times New Roman', serif;
}
h3 { background-color: #e6d6a9;
    text-transform: uppercase;
}
dt{ font-weight: bold;
}
ul{list-style-image: url(favicon.jpg);
}
footer { background-color: #d2b48c;
    color: #000000;
    padding: 10px;
    font-size: .60em;
    font-style: italic;
    text-align: center;
}